section {
    width: 80%;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Roboto Flex', sans-serif;
 
}

div {
    width: 100%;
}

.button {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.button button {
    border-radius: 15px 15px 0px 0px;
    font-size: 20px;
    padding: 2%;
    color: rgb(243, 243, 243);
    padding: 4%;
    border: transparent;
    font-weight:550 ;
    border: 4px solid  var(--botones);
    border-bottom: transparent;
}
 
.buttonSelect {
    background-color: black;
    color: black;
}

.active {
    background: var(--botones);
}
@media (max-width:1000px){
    section{
        height: 85vh;
 
    }
}