<section>
  <div class="button">
    <button class="buttonSelect" [ngClass]="{'active':isDelivered}" (click)="showDeliveredOrders()">Pedidos enviados</button>
    <button class="buttonSelect" [ngClass]="{'active':isFinished}" (click)="showFinishedOrders()">Pedidos Terminados</button>
  </div>

  <div class="containOrder">
    <app-cart-order-ready *ngIf="deliveredOrder" [concluded]="false"></app-cart-order-ready>
    <app-cart-order-ready *ngIf="finishedOrder" [concluded]="true" ></app-cart-order-ready>
  </div>
</section>