<div class="modal">
    <form class="modalBody" [formGroup]="formAddProduct">
        <!-- <h1>{{action}} Usuario</h1> -->

        <select name="select" class="selectType selectCargo" formControlName="type">
            <option value="">Cargo</option>
            <option value="Desayuno">Desayuno</option>
            <option value="Almuerzo">Almuerzo</option>
        </select>
        <span *ngIf="formAddProduct.controls.type.invalid && formAddProduct.controls.type.touched"> Debe seleccionar un
            tipo</span>

        <div class="divContainer">
            <input type="string" formControlName="product" placeholder="Nombre de producto">
            <span [hidden]="product.valid ||product.pristine" *ngIf="product.errors?.['required']">El email es
                obligatorio</span>

        </div>
        <div class="divContainer">
            <input type="number" formControlName='price' placeholder="Precio">
            <span [hidden]="price.valid || price.pristine">El precio es obligatorio</span>
        </div>

        <div class="divContainer divButton">
            <button class="buttonSave" [disabled]="formAddProduct.invalid"  (click)="processProduct()">Guardar</button>
            <button class="buttonClose" routerLink="/manager/menu">Cerrar</button>
        </div>

    </form>
</div>