<table class="table-items">
    <tr>
        <th>Item</th>
        <th> </th>
        <th> </th>
    </tr>
    <tr *ngFor="let item of showItems">
        <td class="items-data">{{item[propertyObject]}}</td>
        <td class="item-button" ><button class="button-table" (click)="getEditRoute(item)">Editar</button></td>
        <td class="item-button"><button class="button-table" (click)="openModalDelete(item)">Borrar</button></td>
    </tr>

</table>
<div *ngIf="modalSwitch === true">
    <app-modal-close (eventDelete) = "deleteItem()" [dataFromItem] = 'dataItemToModal' ></app-modal-close>
</div>
 